
/* Pantalla inicial (Dashboard)*/
.order{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

#form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(161, 161, 243);
    margin: 50px ;
    border-radius: 10px;
    padding: 10px;
}

/*Pantalla del tablero*/


.table3 {
    background-color: rgb(161, 161, 243);
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows:repeat(3, 50px);
    gap: 4px;
    margin: 10px;
}

.table4 {
    background-color: rgb(161, 161, 243);
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows:repeat(4, 50px);
    gap: 4px;
    margin: 10px;
}

.table5 {
    background-color: rgb(161, 161, 243);
    display: grid;
    grid-template-columns: repeat(5, 50px);
    grid-template-rows:repeat(5, 50px);
    gap: 4px;
    margin: 50px;
}



/*Casilla inicial*/
.board-cell{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

#board{
    display:flex;
    flex-direction: row;
    margin: 50px;
}

#Tablas{
    display:none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(161, 161, 243);
    margin: 50px ;
    padding: 10px;
    border-radius: 10px;
}

/*Pantalla de puntajes*/